body {
  background-image: url(https://spinning.fish/fish.gif);
}

h1  {
  color: rgb(0, 0, 0);
  font-family: Nabla;
}

p, a, b  {
  font-family: roboto;
}

html {
  display: flex;
  justify-content: center;
}
